In [77]:
#Needed Package
import pandas as pd
import numpy as np
import re

In [78]:
#Import of the data into the Jupiter Notebook 

#Import Code
df= pd.read_excel (r'daten_.xlsx')

In [79]:
#Visualize the data head
df.head()

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,...,last_edit_date_1,last_editor_display_name_1,last_editor_user_id_1,owner_display_name_1,owner_user_id_1,parent_id_1,post_type_id_1,score_1,tags_1,view_count_1
0,37992108,My html form won't POST to mysql,<p>Hello i have a problem where my data isn't ...,37994134,1,16,NaN,2016-06-23 12:47:34.017 UTC,0.0,2016-06-23 14:11:39.8 UTC,...,NaN,NaN,NaN,NaN,6498280.0,37992108,2,0,NaN,NaN
1,38039505,Counting number of characters in a WCHAR string,<p>Lua has a function named <code>utf8.len()</...,38083489,1,25,NaN,2016-06-26 14:29:23.597 UTC,NaN,2016-06-28 18:15:46.893 UTC,...,NaN,NaN,NaN,NaN,3408572.0,38039505,2,1,NaN,NaN
2,30864424,How to get the appropriate ComboBox Tag,<p>I'm trying to get the Tag associated to a v...,30865517,2,10,NaN,2015-06-16 10:01:14.49 UTC,0.0,2015-06-18 19:15:43.763 UTC,...,2015-06-16 12:25:59.613 UTC,NaN,4984854.0,NaN,4984854.0,30864424,2,1,NaN,NaN
3,31033371,Angular loop is not updating,<p>Just started out with angular. I was succes...,31034475,2,13,NaN,2015-06-24 17:40:05.553 UTC,NaN,2015-06-24 20:04:45.793 UTC,...,NaN,NaN,NaN,NaN,2435473.0,31033371,2,1,NaN,NaN
4,30769186,"why vector is always slower than C array, at l...",<p>I am trying to find all the primes not grea...,30769515,1,36,NaN,2015-06-10 23:43:19.39 UTC,NaN,2015-06-11 00:50:01.66 UTC,...,2015-06-11 00:50:01.66 UTC,NaN,257645.0,NaN,257645.0,30769186,2,7,NaN,NaN

In [80]:
#Visualize the data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          10000 non-null  int64
 1   title                       10000 non-null  object
 2   body                        10000 non-null  object
 3   accepted_answer_id          10000 non-null  int64
 4   answer_count                10000 non-null  int64
 5   comment_count               10000 non-null  int64
 6   community_owned_date        4 non-null      object
 7   creation_date               10000 non-null  object
 8   favorite_count              2669 non-null   float64
 9   last_activity_date          10000 non-null  object
 10  last_edit_date              5612 non-null   object
 11  last_editor_display_name    144 non-null    object
 12  last_editor_user_id         5524 non-null   float64
 13  owner_display_name          267 non-null    object
 14  owner_user_id               9817 non-null   float64
 15  parent_id                   0 non-null      float64
 16  post_type_id                10000 non-null  int64
 17  score                       10000 non-null  int64
 18  tags                        10000 non-null  object
 19  view_count                  10000 non-null  int64
 20  id_1                        10000 non-null  int64
 21  title_1                     0 non-null      float64
 22  body_1                      10000 non-null  object
 23  accepted_answer_id_1        0 non-null      float64
 24  answer_count_1              0 non-null      float64
 25  comment_count_1             10000 non-null  int64
 26  community_owned_date_1      16 non-null     object
 27  creation_date_1             10000 non-null  object
 28  favorite_count_1            0 non-null      float64
 29  last_activity_date_1        10000 non-null  object
 30  last_edit_date_1            3587 non-null   object
 31  last_editor_display_name_1  41 non-null     object
 32  last_editor_user_id_1       3562 non-null   float64
 33  owner_display_name_1        150 non-null    object
 34  owner_user_id_1             9926 non-null   float64
 35  parent_id_1                 10000 non-null  int64
 36  post_type_id_1              10000 non-null  int64
 37  score_1                     10000 non-null  int64
 38  tags_1                      0 non-null      float64
 39  view_count_1                0 non-null      float64
dtypes: float64(12), int64(12), object(16)
memory usage: 3.1+ MB

In [81]:
#Several Columns are not needed
#Dropped are: id_1, title_1, answer_count, score_1 ,body_1 , accepted_answer_id, score, comment_count, community_owned_date , creation_date, favorite_count, last_activity_date, last_edit_date ,last_editor_display_name, last_edit_date_1, last_editor_display_name_1, last_editor_user_id_1, owner_display_name_1, owner_user_id_1, parent_id_1, post_type_id_1, view_count, last_editor_user_id, owner_display_name, owner_user_id, parent_id, post_type_id, answer_count_1, answer_count_1, comment_count_1, community_owned_date_1, creation_date_1, favorite_count_1, last_activity_date_1, view_count_1, accepted_answer_id_1, tags_1
selected_dataframe = df.drop(['id_1','id','title_1','answer_count','score_1','body_1','accepted_answer_id', 'score','comment_count','community_owned_date','creation_date','favorite_count','last_activity_date','last_edit_date','last_editor_display_name','last_edit_date_1','last_editor_display_name_1','last_editor_user_id_1','owner_display_name_1','owner_user_id_1','parent_id_1','post_type_id_1','view_count','last_editor_user_id','owner_display_name','owner_user_id','parent_id','post_type_id','answer_count_1','answer_count_1','comment_count_1','community_owned_date_1','creation_date_1','favorite_count_1','last_activity_date_1','view_count_1','accepted_answer_id_1','tags_1'], axis=1)

In [82]:
#Remaining data are: 
#The title = The headline of a Mail 
#The body = The Main content of a Mail
#The tags = The subjektline 

#Visualize the remaining info
selected_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   10000 non-null  object
 1   body    10000 non-null  object
 2   tags    10000 non-null  object
dtypes: object(3)
memory usage: 234.5+ KB

In [83]:
#Visualize the remaining data head
selected_dataframe.head()

,title,body,tags
0,My html form won't POST to mysql,<p>Hello i have a problem where my data isn't ...,php|html|mysql|post
1,Counting number of characters in a WCHAR string,<p>Lua has a function named <code>utf8.len()</...,c|winapi|unicode|lua
2,How to get the appropriate ComboBox Tag,<p>I'm trying to get the Tag associated to a v...,c#|wpf|combobox
3,Angular loop is not updating,<p>Just started out with angular. I was succes...,javascript|php|mysql|angularjs|angularjs-http
4,"why vector is always slower than C array, at l...",<p>I am trying to find all the primes not grea...,c++|arrays|vector

In [84]:
#Create a new column for naming the labels
#In practise this would be the product category
#The product categories are = javascript = 1, java=2 , python=3, c#=4, php=5, android=6, c++=7, ios=8, others=9 
#We have decided that these are the products categroies which occure the most in the dataset; see Notebook "Data Exploration"
#The product category "others" can be reagarded as not product related questions from customers 

#Create a new column of NAN
sLength = len(selected_dataframe['title'])
selected_dataframe['product_category'] = pd.Series(np.nan, index=selected_dataframe.index)



#Create the labels_list (product categories)
produkt_liste=["ios+","c[+][+]","android","php","c#","python" ,"java","javascript"]

#Search with Regex throuh the rows of the dataframe and label the product category
for i in range(len(selected_dataframe)):
    for x in range(len(produkt_liste)):
        if re.search(produkt_liste[x] ,selected_dataframe.loc[i,"tags"]):
            selected_dataframe.loc[i,"product_category"]=produkt_liste[x]



#transform the names into their product category number
for i in range(len(selected_dataframe)):
    if selected_dataframe.loc[i,"product_category"]=="javascript":
        selected_dataframe.loc[i,"product_category"]=1
        
    elif selected_dataframe.loc[i,"product_category"]=="java":
        selected_dataframe.loc[i,"product_category"]=2
        
    elif selected_dataframe.loc[i,"product_category"]=="python":
        selected_dataframe.loc[i,"product_category"]=3
        
    elif selected_dataframe.loc[i,"product_category"]=="c#":
        selected_dataframe.loc[i,"product_category"]=4
        
    elif selected_dataframe.loc[i,"product_category"]=="php":
        selected_dataframe.loc[i,"product_category"]=5
        
    elif selected_dataframe.loc[i,"product_category"]=="android":
        selected_dataframe.loc[i,"product_category"]=6
        
    elif selected_dataframe.loc[i,"product_category"]=="c[+][+]":
        selected_dataframe.loc[i,"product_category"]=7
        
    elif selected_dataframe.loc[i,"product_category"]=="ios":
        selected_dataframe.loc[i,"product_category"]=8
    else:
        selected_dataframe.loc[i,"product_category"]=9

#rename the column name from "product_category" to "product_category_number"
selected_dataframe.rename(columns={'product_category': 'product_category_number'})

,title,body,tags,product_category_number
0,My html form won't POST to mysql,<p>Hello i have a problem where my data isn't ...,php|html|mysql|post,5
1,Counting number of characters in a WCHAR string,<p>Lua has a function named <code>utf8.len()</...,c|winapi|unicode|lua,9
2,How to get the appropriate ComboBox Tag,<p>I'm trying to get the Tag associated to a v...,c#|wpf|combobox,4
3,Angular loop is not updating,<p>Just started out with angular. I was succes...,javascript|php|mysql|angularjs|angularjs-http,1
4,"why vector is always slower than C array, at l...",<p>I am trying to find all the primes not grea...,c++|arrays|vector,7
...,...,...,...,...
9995,"Butterworth highpass filter, Matlab",<p>I have to:\nRead 'cameraman.tif' and conver...,matlab,9
9996,Python 2.7: Persisting search and indexing,<p>I wrote a small 'search enginge' that finds...,python|search|dictionary|indexing,3
9997,Wrong number of parameters to printf leads to ...,<pre><code>#include &lt;stdio.h&gt;\n\nint mai...,c|printf|format-specifiers,9
9998,How to disable mouseover event with javascript...,<p>In my code a function execute when user mou...,javascript|jquery|events,1
9999,Winsock nonblocking send() wait buffer. What i...,<p>I have some questions about when it is need...,c++|buffer|winsock|send|nonblocking,7

In [85]:
#visualize the new data head
selected_dataframe.head(10)

,title,body,tags,product_category
0,My html form won't POST to mysql,<p>Hello i have a problem where my data isn't ...,php|html|mysql|post,5
1,Counting number of characters in a WCHAR string,<p>Lua has a function named <code>utf8.len()</...,c|winapi|unicode|lua,9
2,How to get the appropriate ComboBox Tag,<p>I'm trying to get the Tag associated to a v...,c#|wpf|combobox,4
3,Angular loop is not updating,<p>Just started out with angular. I was succes...,javascript|php|mysql|angularjs|angularjs-http,1
4,"why vector is always slower than C array, at l...",<p>I am trying to find all the primes not grea...,c++|arrays|vector,7
5,"jQuery Accordion Tab - Link to site, not page ...",<p>I've currently have 5 tabs on my jQuery Acc...,jquery|html,9
6,Is there java.io.Reader equivalent in Go?,<p>Go has very nice <code>io.Reader</code> and...,go,9
7,NullPointerException while trying to bind at S...,"<p>I have asked <a href=""https://stackoverflow...",android,6
8,Calculate input of textbox and update another ...,"<p>my UI - <a href=""http://puu.sh/bbx5G/33953b...",javascript|jquery|html,1
9,Select File Name created with Date and Time fo...,<pre><code> NSString *dateString= [self curren...,php|ios|objective-c|xcode|nsdocument,5

In [86]:
#preprocess the dataframe for the test-train-split
selected_dataframe['sum']=selected_dataframe['title'].astype(str)+' '+selected_dataframe['body'].astype(str)+' '+selected_dataframe['tags'].astype(str)
preprocessed_dataframe= selected_dataframe.drop(['title','body','tags'],axis=1)

In [87]:
#Visualized preprocessed dataframe 
#product_category -->label Y target.data
#sum -->X data.text 
preprocessed_dataframe.head()

  product_category                                                sum
0                5  My html form won't POST to mysql <p>Hello i ha...
1                9  Counting number of characters in a WCHAR strin...
2                4  How to get the appropriate ComboBox Tag <p>I'm...
3                1  Angular loop is not updating <p>Just started o...
4                7  why vector is always slower than C array, at l...

In [89]:
#save the preprocessed dataframe as CSV data
#you need to customize the output link 'C:\....'!!!
df.to_csv(r'', index = False)